h2{
    font-family: Arial, Helvetica, sans-serif;
}
a, button{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    background-color: #ddd;
}
.orange{
    background-color: orange;
}
.beige{
    background-color: beige;
}
.white{
    background-color: white;
}
a:hover, button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}