@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    background-image: url("./images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    display: flex;
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 2em 5em;
}

article {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(117, 114, 114, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    padding: 2em 2.7em;
    flex: 1 1 0;
}

article:last-of-type {
    width: 35%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

article:last-of-type .content {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

article:last-of-type .person {
    width: 100%;
    border-top: 1px solid #ccccccb3;
    display: flex;
    gap: 1em;
    align-items: center;
    padding-top: 1em;
}

article:last-of-type .name-container span{
    font-size: 0.57em;
    font-weight: bold;
    color: gray;
}

article:last-of-type .img-container {
    width: 5em;
    height: 5em;
}
article:last-of-type .img-container img{
    filter: grayscale(100%);
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 70%;
}

.content .quote {
    font-size: 4.5em;
    margin: 0;
}

.name {
    font-weight: bold;
    font-size: 18px;
}

.content .text {
    color: gray;
    font-size: 14px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 9em;
    height: 9em;
    aspect-ratio: 1/1;
    overflow: hidden;
}

img {
    width: 100%;
    object-fit: cover;
}