* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2,
h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

p,
div,
td {
    font-family: 'Lato', sans-serif;
}

header {
    padding: 1em 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 50%;
}

.navigation ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
}

.navigation ul li a {
    color: black;
    opacity: 0.9;
    text-decoration: none;
}

.courses-background {
    background-image: url("./images/calculator-icon.svg");
    background-color: rgba(52, 59, 78, 0.858);
    background-repeat: no-repeat;
    background-position: -7% center;
    margin-bottom: 13em;
    text-align: center;
    width: 100%;
    height: 20em;
    position: relative;
}

.courses-background h2 {
    width: 100%;
    color: white;
    padding: 2em 0;
}

.courses {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 1.5em;

}

.courses .course {
    width: 28%;
    height: 20em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.303);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.courses .course h3 {
    margin: 1.5em 0;
}

.courses .course p {
    margin: 0 2em 1em;
}

.courses .course.basics h3 {
    margin-bottom: 1em;
}

.courses .course.basics .button {
    margin: auto;
}

.courses .course.basics .button>button {
    border: none;
    border-radius: 2em;
    background-color: rgb(154, 89, 214);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.303);
    padding: 1em 2em;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.courses .course .prices {
    height: 6em;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: auto;
    padding: 0.5em 0;
    color: white;
}

.courses .course.basics .prices {
    background: linear-gradient(to right, green, lightgreen);
}

.courses .course.fundamentals .prices {
    background: linear-gradient(to right, rgb(37, 102, 152), rgba(37, 102, 152, 0.689));
}

.courses .course.professional .prices {
    background: linear-gradient(to right, rgb(77, 62, 174), rgba(77, 62, 174, 0.662));
    /* color: slateblue; */
}

.prices span {
    display: block;
    padding: 0.5em 1em;
}

.price {
    font-size: 20px;
}

.course.fundamentals .prices div:first-of-type,
.course.professional .prices div:first-of-type {
    border-right: 2px solid white;
}

.training-benefits {
    width: 70%;
    margin: auto;
}

.training-benefits h3 {
    margin-bottom: 1.5em;
}

.training-benefits p {
    margin-bottom: 2em;
}

.training-benefits table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 0.5em;
    overflow: hidden;
}

.training-benefits table td {
    min-width: 13em;
    text-align: center;
    padding: 1em;
}
.training-benefits table td:first-of-type{
    text-align: left;
}
.training-benefits table tr{
    background-color: #ddd;
}

.training-benefits table tr:nth-child(even) {
    background-color: #eee;
}
.financing{
    width: 85%;
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.financing h3{
    width: 100%;
    margin-bottom: 1em;
}
.financing .financing-info{
    width: 65%;
}
.financing p{
    margin: 0.5em 0;
}
.financing .bank-logo{
    align-self: baseline;
}
footer{
    background-color: rgba(52, 59, 78, 0.858);
    text-align: center;
    color: rgba(255, 255, 255, 0.203);
    padding: 1.5em;
}