*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font: 14px/1.5 Lato, sans-serif;
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    flex: 0 0 55em;
    margin: 4em auto;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em 0.5em #ddd;
    padding: 1em;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}
form input{
    padding: 1em;
    flex-grow: 1;
    border: none;
    border-radius: 0.3em;
    background-color: #eee;
}
form .email{
    flex-grow: 5;
}
form .submit{
    flex-grow: 2;
    background-color: darkorange;
    color: white;
}
@media(max-width:600px){
    form{
        flex: 0 0 40em;
        flex-wrap: wrap;
    }
    form .submit{
        width: 100%;
    }
}
@media(max-width:400px){
    form{
        flex: 0 0 24em;
        flex-wrap: wrap;
    }
    form input{
        width: 100%;
    }
}