h1{
    color: blue;
}
p{
    font-size: 20px;
}
.highlight{
    background-color: aqua;
}
#main-title{
    color: chartreuse;
}
#special-paragraph{
    font-style: italic;
}
ul{
    list-style-type: circle;
}
li{
    color: blueviolet;
}
div{
    background-color: beige;
}