table{
    border-collapse: collapse;
    margin: 2em auto;
    font-family: Arial, Helvetica, sans-serif;
}

th, td{
    border: 1px solid black;
    padding: 0.5em;
}
.hidden{
    display: none;
}
.bold{
    font-weight: bold;
    text-align: center;
}
.number{
    min-width: 7ch;
}
.name{
    min-width: 20ch;
}
.score{
    min-width: 12ch;
}