body {
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: white;
    margin: 100px auto;
    width: 40rem;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section h3 {
    margin: 0;
}

.flex-items {
    width: 100%;
}