* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 95%;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
}

section article {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0 0.3em 0.3em #ddd;
    padding: 1em;
}

.background {
    position: relative;
}

.background img {
    width: 100%;
    border-radius: 0.5em;
}

.background .course-type {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 13px;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    opacity: 0.6;
}

.online-course .background .course-type {
    background-color: darkcyan;
}

.video-course .background .course-type {
    background-color: darkmagenta;
}

.workshop-course .background .course-type {
    background-color: darkorange;
}

.header {
    position: absolute;
    bottom: -6em;
}

.header .teacher {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 0.5em;
}

.header .teacher .teacher-name {
    position: relative;
    background-color: white;
    padding: 0.5em 2.5em 0.5em 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.3em 0.3em 0 #ddd;
    left: 1.5em;
    z-index: 1;
    font-weight: bold;
}

.header .teacher .image-teacher {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 5em;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0.3em 0.3em 0 #ddd;
    left: 0.5em;
    z-index: 2;
}

.header .course-name {
    position: relative;
    padding: 1em;
    background-color: white;
    border-radius: 0.7em;
    font-size: 13px;
    box-shadow: 0 0.3em 0.3em 0 #ddd;
    bottom: 2.9em;
    width: 85%;
    margin: auto;
}

.header .course-name h2 {
    padding-bottom: 0.5em;
}

.header .course-name p {
    padding-top: 0.5em;
}
.main{
    width: 90%;
    margin: auto;
    margin-top: 5em;
}
.main .groups-header{
    display: flex;
    justify-content: space-between;
}
.main .groups-header span a{
    text-decoration: none;
    color:rgb(0, 182, 182);
    font-size: 13px;
}
.main .groups{
    opacity: 0.6;
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.main .groups span{
    display: block;
}
.main .groups .price{
    font-weight: bold;
    font-size: 15px;
}

.footer{
    margin: auto;
    margin-top: 1em;
    padding: 1em;
    width: 85%;
    border-radius: 0.5em;
    box-shadow: 0 0 0.3em 0.3em #ddd;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: rgb(0, 182, 182);
    font-size: 14px;
}
.footer span:first-of-type{
    font-size: 20px;
    font-weight: bold;
}
@media(max-width: 800px){
    section{
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        gap:1.5em;
    }
    section article{
        margin: auto;
        width: 44%;
    }
    section .workshop-course{
        flex-grow: 1;
    }
    section .workshop-course .header{
        width: 100%;
    }
}
@media(max-width:600px){
    section{
        flex-direction: column;
    }
    section article{
        width: 90%;
        margin: auto;
    }
}