@import url('https://fonts.google.com/specimen/Poppins');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(255, 217, 176);
}

section {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    border-radius: 0.5em;
    overflow: hidden;
    background-color: #111111;
    color: white;
}

section img {
    width: 60%;
}

section form {
    padding: 3.5em;
}

section form h2 {
    font-weight: 600;
    font-size: 1.2em;
    padding: 0 1em 3em 1em;
}

section form input {
    display: block;
    width: 100%;
    background-color: #111111;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.375);
    margin-bottom: 2.5em;
}

section form button {
    padding: 1em 2.5em;
    border: none;
    border-radius: 0.3em;
    color: white;
    background-color: rgb(237, 183, 125);
}